/* Limpar padrão */

* {
	margin: 0;
	padding: 0;
}

.a-content{
    color: #ffae00;
    text-decoration: none;
}

/* Seletores */

body{
    font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/* Configurações do Menu */

#menu{
    background-color: #ffae00;
	padding: 15px;
    text-align: center;
}

.menu-logo{
    padding: 15px;
    font-size: 3.2em;
}

.menu-itens{
    padding: 5px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}
.menu-itens:hover{
    font-size: 1.3em;
    text-decoration: none;
    color: #ffae00;
    background-color: white;
}

.branco{
    color: white;
}

.preto{
    color: #333333;
}

/* Área de postagens */

#area-postagem{
    width: 980px;
    margin: 0 auto;
    padding: 30px;
}

.noticia{
    background-color: #ffffff;
    padding: 10px;
    width: 660px;
}

.noticia-img{
    padding-top: 10px;
    padding-bottom: 10px;
}

.h1-noticia{
    color: #ffae00;
}

/* Footer */

.footer{
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    background-color: #a3a3a3;
    text-align: center;
}


/* Área lateral */ 

#area-lateral{
    width: 280px;
    float: right;
}

.noticias-lateral{
    background-color: #ffffff;
    padding: 10px;
}

.categorias-lateral{

}

.h2-itens-lateral{
    padding: 5px;
    background-color: #e0e0e0;
    font-size: 1.2em;
    color: #646363c0;
}